{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}MY Blog{% endblock %}

{% block body %}
    <h1>Creat article</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Success</button>
    {{ form_end(form) }}
{% endblock %}